body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

.header-nav {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav .header-logo {
  color: #4d5ae5;
}

.header-nav .logo-part {
  color: #2e2f42;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link {
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #4d5ae5;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link {
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #4d5ae5;
}

.page-one {
  background-color: #2e2f42;
}

.solution {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.butoon:hover,
.button:focus {
  background-color: #404bbf;
}
